.logo {
  display: inline-flex;
}

/* .img-logo {
  border: 1px solid red;
} */

.h1 {
  background: linear-gradient(
      157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* border: 1px solid red;
  left: 0; */
}

.navbar{
  padding: 40px 0px;
}
.nav-link {
  color: var(--color-text);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: .4rem;

}

.nav-link:last-child {
  border: 1px solid;
  border-radius: 5px;
  margin-left: 10px;
}

.nav-link:hover {
  background: var(--color-highlight-2);
  border-radius: 5px;
  color: var(--color-text-2);
}

.nav-link:last-child:hover {
  background: var(--color-highlight-2);
  color: var(--color-text-2);

}

@media(max-width: 991px) {

  .navbar-collapse,
  .navbar-nav {
      text-align: right;
  }

  .nav-link {
      margin: .3rem 0;
      padding: .5rem;
  }

  .nav-link:last-child {
      background: var(--color-highlight-2);
      color: var(--color-text-2);
      text-align: center;


  }
}

.navbar-toggler{
  border: none;
  padding-top: .8rem;
  text-align: center;
  margin-bottom: 1rem;
}
.navbar-toggler-icon{
  background: url(../../assets/menu.png) no-repeat;

}