.bdark,
.bgreen,
.blight {
    border: 2px solid var(--color-dark);
    margin: 1rem;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    border-radius: 45px;
    align-items: center;
    padding: 2rem;


}

.box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 210px;
}

@media (max-width: 510px) {
    .btn .learn-more {
        display: none;
    }
}

.bdark {
    background: var(--color-dark);

    span {
        color: var(--color-text-2);
    }
}


.bgreen {
    background: var(--color-highlight-2);

    span {
        color: var(--color-text-2);
    }
}

.blight {
    background: var(--color-grey);

    span {
        color: var(--color-text-2);
    }
}



.bdark .span,
.bgreen .span,
.blight .span {
    display: table;
    padding: .1rem .5rem;
    font-weight: 500;
    font-size: 26px;
    line-height: 28px;
    border-radius: 5px;
}

.blight .span {
    background: var(--color-highlight-2);
}

.bgreen .span {
    background: var(--color-grey);
}

.bdark .span {
    background: var(--color-grey);
}

.readmore {
    display: block;
    bottom: 0;
    color: var(--color-dark);
    font-size: 20px;
    text-decoration: none;
}

.readmore svg {
    font-size: 26px;
    margin-right: .5rem;

    color: var(--color-dark);
}

.bdark .readmore,
.bdark .readmore svg {
    color: #fff;
}

.readmore:hover{
transform: scale(1.1);
color: var(--color-dark);
}


.bdark .readmore:hover{
    transform: scale(1.1);
    color: #fff;
    }



@media(max-width: 768px) {
    .box {

        position: relative;
        min-height: 60px;
    }

    .readmore {
        position: absolute;
        bottom: -7em;
    }

}

@media(max-width: 510px) {
    .img-services {
        width: auto;
        max-width: 50%;
        margin-top: -100px;
        z-index: 9999;
    }

    .readmore {
        position: absolute;
        bottom: -5em;
        font-size: 16px;

    }

    .bdark,
    .bgreen,
    .blight {
        min-height: 200px;
        padding: 1rem;
    }

    .bdark .span,
    .bgreen .span,
    .blight .span {
        display: table;
        padding: .1rem .5rem;

        font-size: 18px;
        line-height: 22px;

    }



}

/* Button */
a .btn {
    color: #000;
}

.btn {
position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 /* font-size: inherit;
 font-family: inherit; */
}

.btn .learn-more {
    width: 4rem;
 height: auto;
}

.btn .learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 1.5rem;
 height: 1.5rem;
 background: #282936;
 border-radius: 1.625rem;
}

.btn .learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

.btn .learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

.btn .learn-more .circle .icon.arrow::before {
    position: absolute;
 content: '';
 top: -0.25rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 /* border-top: 0.125rem solid #fff; */
 /* border-right: 0.125rem solid #fff; */
 transform: rotate(45deg);
}

.btn .learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 /* padding: 0.75rem 0;
 margin: 0 0 0 1.85rem; */
 color: #000;
 text-align: center;
 text-transform: uppercase;
 /* background-color: none; */
}



.btn:hover .circle {
    width: 100%;
}

.btn:hover .circle .icon.arrow {
    background: #fff;
 transform: translate(1rem, 0);
}

.btn:hover .button-text {
    color: #fff;
}