/* .hero{
   /* background-color: var(); */
   /* background: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    ); */
   /* height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center; */
   /* color: #fff; */
/* } */

.hero p {
   color: #fff;
}

.clients{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
 }
.clients img{
   filter: grayscale(100%);
   cursor: pointer;
   padding: .5rem;
   margin: 1rem 1rem 0rem;
}

.clients img:hover{
   filter: grayscale(0);
}
::-webkit-scrollbar {
   width: 0;
   background: transparent;
}

