.card-team{
  background: #FFFFFF;
border: 1px solid #191A23;
box-shadow: 0px 5px 0px #191A23;
border-radius: 45px;
padding:2rem 1rem 0rem;
margin: 0 .3rem 1.5rem;
min-height: 250px;
max-width: 390px;

}

.card-team-header{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
border-bottom: 1px solid #000;
padding-bottom:1rem;
margin-bottom: 1rem;
}
.card-team-header img{
width: 70px;

}


.card-team-header span{
  display: block;
  font-weight: 700;
}


.card-team-header a{
  align-self: flex-start;
  align-items: end;

}

.card-team-header a svg{
  font-size: 20px;
  color: #000;
  background: var(--color-highlight-2);
}

.card-team-header a svg:hover{
  background: #FFFFFF;
  transform: scale(1.1);
}
.card-team p{
  font-weight: 400;
font-size: 16px;
line-height: 23px;
padding:0 .5rem;

}

.card-team img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

@media(max-width: 768px) {
  .card-team{
      margin: 1.5rem auto;
      max-width: 460px;
  }
}

.team__button {
  display: flex;
 align-items: center;
 justify-content: center;
 height: 50px;
 position: relative;
 padding: 0 20px;
 font-size: 18px;
 text-transform: uppercase;
 border: 0;
 box-shadow: #33bbcf 0px 7px 0px 0px;
 background-color: #5ce1e6;
 color: #000;
 border-radius: 12px;
 overflow: hidden;
 transition: 31ms cubic-bezier(.5, .7, .4, 1);
}

.team__button:before {
  content: attr(alt);
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 inset: 0;
 font-size: 15px;
 font-weight: bold;
 color: black;
 letter-spacing: 4px;
 opacity: 1;
}

.team__button:active {
  box-shadow: none;
 transform: translateY(7px);
 transition: 35ms cubic-bezier(.5, .7, .4, 1);
}

.team__button:hover::before {
  transition: all .0s;
 transform: translateY(100%);
 opacity: 0;
}

.team__button i {
  color: black;
 font-size: 15px;
 font-weight: bold;
 letter-spacing: 4px;
 font-style: normal;
 transition: all 2s ease;
 transform: translateY(-20px);
 opacity: 0;
}

.team__button:hover i {
  transition: all .2s ease;
 transform: translateY(0px);
 opacity: 1;
}

.team__button:hover i:nth-child(1) {
  transition-delay: 0.045s;
}

.team__button:hover i:nth-child(2) {
  transition-delay: calc(.045s * 3);
}

.team__button:hover i:nth-child(3) {
  transition-delay: calc(.045s * 4);
}

.team__button:hover i:nth-child(3) {
  transition-delay: calc(.045s * 4);
}

.team__button:hover i:nth-child(3) {
  transition-delay: calc(.045s * 4);
}

.team__button:hover i:nth-child(4) {
  transition-delay: calc(.045s * 5);
}

.team__button:hover i:nth-child(5) {
  transition-delay: calc(.045s * 6);
}

.team__button:hover i:nth-child(7) {
  transition-delay: calc(.045s * 8);
}

.team__button:hover i:nth-child(8) {
  transition-delay: calc(.045s * 9);
}
.team__button:hover i:nth-child(9) {
  transition-delay: calc(.045s * 10);
}
.team__button:hover i:nth-child(10) {
  transition-delay: calc(.045s * 11);
}

.team__button:hover i:nth-child(11) {
  transition-delay: calc(.045s * 12);
}

.team__button:hover i:nth-child(12) {
  transition-delay: calc(.045s * 13);
}

.team__button:hover i:nth-child(13) {
  transition-delay: calc(.045s * 14);
}

.team__button:hover i:nth-child(14) {
  transition-delay: calc(.045s * 15);
}