.contact {
  width: 100%;
  background: #F3F3F3 url(../../assets/contact.png) no-repeat;
  background-size: contain;
  background-position: right center;
  border-radius: 45px;
  padding: 5rem 3rem;
  margin-bottom: 6rem;
}

.form-group {
  margin: 1.5rem 0;
}

.form-group input,
.form-group textarea {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 14px;
}

@media(max-width: 768px) {
  .contact {
      background: #F3F3F3;
      padding: 3rem 2rem;
      margin-bottom: 3rem;
  }
}

.contact__button {
display: inline-block;
 background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
 border: none;
 color: #FFFFFF;
 text-align: center;
 font-size: 17px;
 padding: 16px;
 width: 100%;
 transition: all 0.5s;
 cursor: pointer;
 margin: 5px;
 border-radius: 15px;
}

.contact__button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.contact__button span:after {
content: '»';
 position: absolute;
 opacity: 0;
 top: 0;
 right: -15px;
 transition: 0.5s;
}

.contact__button:hover span {
  padding-right: 15px;
}

.contact__button:hover span:after {
  opacity: 1;
  right: 0;
}